<html>
  <head></head>
  <body>
    <p>
    	Encode your messages with Caesar's cipher!
    </p>
    <form>
    	<input type='text' name= 'input'/>
    	<input type='submit' value= 'Submit!'/>
    </form>
    <p>
    	<%= answer  %>
    </p>
  </body>
</html>